name: README build
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 4 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - run: pip install -r cache/requirements.txt

      - name: Update README
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          USER_NAME: ${{ secrets.USER_NAME }}
        run: python today.py

      - name: Commit
        run: |-
          git add .
          git diff
          git config --global user.email "your-email@example.com"  # Update this
          git config --global user.name "SanjayRohith-Bot"         # Update this
          git commit -m "Updated README" -a || echo "No changes to commit"
          git push
